@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Welcome to the fooball club manager!</a></p>
    <p><a>This website was made using ASP.NET Core by Justin de Ruijter.</a></p>
    <p>
        <a>
            It alows admin users to create teams with players, and setup matches and trainings for these teams.
            All the read data is available to people without an account.
            People that DO have an account can follow certain matches so that they can easily find them again in the future.
        </a>
    </p>
</div>
